<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-4">
            <!-- <img src="../../assets/images/slide1.jpg" alt="" class="img-fluid"> -->
            <app-slide-show></app-slide-show>
        </div>
        <div class="col-12 col-md-8">
            <h3>
                Why donate?
            </h3>
            <p>
                Every 4 minutes someone in Lebanon needs blood. It may be following an accident, during surgery or to support the treatement of an illnes. By donating blood you may help a woman who bled during childbirth, you may support the recovery of a cancer patient receiving chemotherapy... 400 donations per day are needed.
            </p>
            <h3>
                Blood groups?
            </h3>
            <img src="../../assets/images/BloodGroup.jpg" alt="" class="">
            <h3>
                How to donate?
            </h3>
            <a routerLink="/newDonor">
                Click to register
            </a>
        </div>
    </div>
</div>
